.idea/
contexts/*.pyc
converters/*.pyc
dcm/*.pyc
dicomdeident/*.pyc
domain/*.pyc
gui/*.pyc
services/*.pyc
test/*.pyc
utils/*.pyc
viewModels/*.pyc
workers/*.pyc
client.log
radplanbio-client.cfg.build
radplanbio-client.cfg.devel
radplanbio-client.cfg.prod
radplanbio-client.cfg.test
key.pkl
nosetests.xml
